<div id="<%= dom_id deal %>">
  <p>
    <strong>Title:</strong>
    <%= deal.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= deal.description %>
  </p>

  <p>
    <strong>Restaurant:</strong>
    <%= deal.restaurant %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= deal.location %>
  </p>

  <p>
    <strong>User:</strong>
    <%= deal.user_id %>
  </p>

</div>
